.infokonten{
    font-family: 'Montserrat';
    color: black;
}

.infokonten .nama-op{
    position: absolute;
    font-size: 30px;
    top: 120px;
}

.infokonten .gejala{
    position: absolute;
    font-size: 25px;
    top: 190px;
}

.infokonten .desk{
    position: absolute;
    top: 245px;
    font-weight: 600;
    font-size: 20px;
    width: 1100px;
}

.infokonten .penanganan{
    position: absolute;
    top: 410px;
    font-size: 25px;
}

.infokonten .desk2{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 465px;
    width: 1100px;
}

.infokonten .mfes{
    position: absolute;
    top: 580px;
    font-size: 25px;
}

.infokonten .desk3{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 635px;
    width: 1100px;
}