.navbar .navbar-nav .searchbox{
  position: absolute;
width: 344px;
height: 48px;
left: 53px;
top: 165px;
border-radius: 8px;

background: #FFFBFB;
border: 2px solid #000000;
}

.navbar .navbar-nav .submit{
  position: absolute;
width: 100px;
height: 48px;
left: 400px;
top: 165px;
border-radius: 8px;

background: #FFFBFB;
border: 2px solid #000000;
}

.navbar .navbar-nav .searchbox{
  position: absolute;
width: 344px;
height: 48px;
left: 53px;
top: 165px;
border-radius: 8px;

background: #FFFBFB;
border: 2px solid #000000;
}

.navbar .navbar-nav .submit:hover{
  position: absolute;
width: 100px;
height: 48px;
left: 400px;
top: 165px;
border-radius: 8px;

background: #ebebeb;
border: 2px solid #000000;
}

.navbar .navbar-nav input{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 10px;
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 5px;
  color: #000000;
}
  /* identical to box height */

.listp{
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.listp .op1{
  position: absolute;
  color: #000000;
  width: 150px;
  height: 30px;
  left: 53px;
  top: 319px;
}
 
.listp .op2{
  position: absolute;
  color: #000000;
  width: 150px;
  height: 30px;
  left: 340px;
  top: 319px;
}

.listp .op3{
  position: absolute;
  color: #000000;
  font-weight: 500;
width: 200px;
height: 30px;
left: 626px;
top: 319px;
}

.listp .op4{
  position: absolute;
  color: #000000;
  font-weight: 500;
width: 350px;
height: 30px;
left: 914px;
top: 319px;
}

.listp .op5{
  position: absolute;
  color: #000000;
  font-weight: 500;
width: 200px;
height: 30px;
left: 53px;
top: 430px;
}

.listp .op6{
  position: absolute;
  font-weight: 500;
width: 200px;
color: #000000;
height: 30px;
left: 340px;
top: 430px;
}

.listp .op7{
  position: absolute;
  font-weight: 500;
width: 200px;
height: 30px;
left: 626px;
top: 430px;
color: #000000;
}

.listp .op8{
  position: absolute;
  color: #000000;
  font-weight: 500;
width: 200px;
height: 30px;
left: 914px;
top: 430px;
}

.listp .op9{
  position: absolute;
  font-weight: 500;
  color: #000000;
width: 200px;
height: 30px;
left: 53px;
top: 540px;
}

.listp .op10{
  position: absolute;
  font-weight: 500;
width: 200px;
height: 30px;
color: #000000;
left: 340px;
top: 540px;
}

.listp .op11{
  position: absolute;
  font-weight: 500;
width: 200px;
height: 30px;
color: #000000;
left: 626px;
top: 540px;
}

.listp .op12{
  position: absolute;
  font-weight: 500;
width: 200px;
height: 30px;
left: 914px;
color: #000000;
top: 540px;
}

.listp .op13{
  position: absolute;
  font-weight: 500;
width: 200px;
height: 30px;
left: 53px;
top: 645px;
color: #000000;
}